In [1]:
import pandas as pd
import numpy as np

**Read heads of the population data sets that we are going to use**

In [7]:
immigrants_age=pd.read_csv("../../datasets/immigrants-emigrants-by-age.csv")
immigrants_age.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60

In [8]:
immigrants_sex=pd.read_csv("../../datasets/immigrants-emigrants-by-sex.csv")
immigrants_sex.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,Male,3063,1195
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,1499,427
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,910,361
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,1438,502
4,2017,2,Eixample,5,el Fort Pienc,Male,1082,495

In [9]:
population=pd.read_csv("../../datasets/population.csv")
population.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

**Calculate migratory balance and add it as a new column**

In [10]:
migratory_balance=immigrants_sex["Immigrants"]-immigrants_sex["Emigrants"]
migratory_balance
immigrants_sex["Migratory balance"]=migratory_balance
immigrants_sex.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Immigrants,Emigrants,Migratory balance
0,2017,1,Ciutat Vella,1,el Raval,Male,3063,1195,1868
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,1499,427,1072
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,910,361,549
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,1438,502,936
4,2017,2,Eixample,5,el Fort Pienc,Male,1082,495,587

**Migratory balance per district from 2013 to 2017**

In [11]:
immigrants_sex2013=immigrants_sex[(immigrants_sex["Year"]==2013)]
immigrants_sex2014=immigrants_sex[(immigrants_sex["Year"]==2014)]
immigrants_sex2015=immigrants_sex[(immigrants_sex["Year"]==2015)]
immigrants_sex2016=immigrants_sex[(immigrants_sex["Year"]==2016)]
immigrants_sex2017=immigrants_sex[(immigrants_sex["Year"]==2017)]

In [12]:
migration_2013=pd.DataFrame(immigrants_sex2013.groupby(["District Code","District Name","Year"])["Migratory balance"].sum())
migration_2013=migration_2013.reset_index()
#----------------
migration_2014=pd.DataFrame(immigrants_sex2014.groupby(["District Code","District Name","Year"])["Migratory balance"].sum())
migration_2014=migration_2014.reset_index()
#----------------
migration_2015=pd.DataFrame(immigrants_sex2015.groupby(["District Code","District Name","Year"])["Migratory balance"].sum())
migration_2015=migration_2015.reset_index()
#----------------
migration_2016=pd.DataFrame(immigrants_sex2016.groupby(["District Code","District Name","Year"])["Migratory balance"].sum())
migration_2016=migration_2016.reset_index()
#----------------
migration_2017=pd.DataFrame(immigrants_sex2017.groupby(["District Code","District Name","Year"])["Migratory balance"].sum())
migration_2017=migration_2017.reset_index()

**Immigration growth before Colau and after Colau**

In [13]:
def immigration_growth(dataframe1,dataframe2):
    growth=dataframe2["Migratory balance"]-dataframe1["Migratory balance"]
    
    growthdata=pd.DataFrame()
    
    growthdata["District Name"]=dataframe1["District Name"]
    growthdata["Migratory balance"]=growth

    return growthdata

In [14]:
growth_BC=immigration_growth(migration_2013,migration_2015)
growth_BC

         District Name  Migratory balance
0         Ciutat Vella               2344
1             Eixample               2946
2       Sants-Montjuïc               1310
3            Les Corts                379
4  Sarrià-Sant Gervasi                940
5               Gràcia               1111
6       Horta-Guinardó                706
7           Nou Barris                917
8          Sant Andreu                892
9           Sant Martí               1055

In [15]:

growth_BC["Migratory balance"].sum()

12600

In [16]:
growth_AC=immigration_growth(migration_2015,migration_2017)
growth_AC

         District Name  Migratory balance
0         Ciutat Vella               1369
1             Eixample               2045
2       Sants-Montjuïc               1126
3            Les Corts                179
4  Sarrià-Sant Gervasi                367
5               Gràcia                380
6       Horta-Guinardó                819
7           Nou Barris               1208
8          Sant Andreu                530
9           Sant Martí               1783

In [17]:
growth_AC["Migratory balance"].sum()

9806

In [18]:
merged=growth_BC.merge(right=growth_AC,how="inner",on="District Name")
new_names=["District name","Migratory balance BC","Migratory balance AC"]
merged.columns=new_names
merged

         District name  Migratory balance BC  Migratory balance AC
0         Ciutat Vella                  2344                  1369
1             Eixample                  2946                  2045
2       Sants-Montjuïc                  1310                  1126
3            Les Corts                   379                   179
4  Sarrià-Sant Gervasi                   940                   367
5               Gràcia                  1111                   380
6       Horta-Guinardó                   706                   819
7           Nou Barris                   917                  1208
8          Sant Andreu                   892                   530
9           Sant Martí                  1055                  1783

**Total number of population per district and year**

In [19]:
list_year=[]
list_years=[2013,2014,2015,2016,2017]
for year in list_years:
    list_year.append(population[population["Year"]==year])

population_year=[]
for i in range(len(list_years)):
    population_year.append(pd.DataFrame(list_year[i].groupby(["District.Name","District.Code","Year"])["Number"].sum()).reset_index())
population_year[2]

         District.Name  District.Code  Year  Number
0         Ciutat Vella              1  2015  100115
1             Eixample              2  2015  263558
2               Gràcia              6  2015  120401
3       Horta-Guinardó              7  2015  166559
4            Les Corts              4  2015   81530
5           Nou Barris              8  2015  164648
6          Sant Andreu              9  2015  146494
7           Sant Martí             10  2015  233659
8       Sants-Montjuïc              3  2015  180757
9  Sarrià-Sant Gervasi              5  2015  146834

**Population growth before Colau and after Colau**

In [20]:
def population_growth(dataframe1,dataframe2):
    growth=dataframe2["Number"]-dataframe1["Number"]
    
    growthdata=pd.DataFrame()
    
    growthdata["District Name"]=dataframe1["District.Name"]
    growthdata["Number"]=growth

    return growthdata

In [21]:
population_growthBC=population_growth(population_year[0],population_year[2])
population_growthBC

         District Name  Number
0         Ciutat Vella   -3224
1             Eixample   -1222
2               Gràcia    -548
3       Horta-Guinardó   -1184
4            Les Corts    -110
5           Nou Barris   -1100
6          Sant Andreu    -352
7           Sant Martí     833
8       Sants-Montjuïc   -1928
9  Sarrià-Sant Gervasi    1568

In [22]:
population_growthBC["Number"].sum()

-7267

In [23]:
population_growthAC=population_growth(population_year[2],population_year[4])
population_growthAC

         District Name  Number
0         Ciutat Vella    1272
1             Eixample    2858
2               Gràcia     946
3       Horta-Guinardó    2192
4            Les Corts     503
5           Nou Barris    1931
6          Sant Andreu    1100
7           Sant Martí    1854
8       Sants-Montjuïc    1153
9  Sarrià-Sant Gervasi    2445

In [24]:
population_growthAC["Number"].sum()

16254

In [25]:
merged2=population_growthBC.merge(right=population_growthAC,how="inner",on="District Name")
new_names=["District name","Total population BC","Total population AC"]
merged2.columns=new_names
merged2

         District name  Total population BC  Total population AC
0         Ciutat Vella                -3224                 1272
1             Eixample                -1222                 2858
2               Gràcia                 -548                  946
3       Horta-Guinardó                -1184                 2192
4            Les Corts                 -110                  503
5           Nou Barris                -1100                 1931
6          Sant Andreu                 -352                 1100
7           Sant Martí                  833                 1854
8       Sants-Montjuïc                -1928                 1153
9  Sarrià-Sant Gervasi                 1568                 2445

In [26]:
merged3=merged2.merge(right=merged,how="inner",on="District name")
merged3

,District name,Total population BC,Total population AC,Migratory balance BC,Migratory balance AC
0,Ciutat Vella,-3224,1272,2344,1369
1,Eixample,-1222,2858,2946,2045
2,Gràcia,-548,946,1111,380
3,Horta-Guinardó,-1184,2192,706,819
4,Les Corts,-110,503,379,179
5,Nou Barris,-1100,1931,917,1208
6,Sant Andreu,-352,1100,892,530
7,Sant Martí,833,1854,1055,1783
8,Sants-Montjuïc,-1928,1153,1310,1126
9,Sarrià-Sant Gervasi,1568,2445,940,367

In [27]:
Immigration_over_populationBC=growth_BC["Migratory balance"].div(population_growthBC["Number"])*100
porcentajeBC=Immigration_over_populationBC.apply(func=format,args=(".0f",))
merged3["Immigration over population BC"]=porcentajeBC+"%"

Immigration_over_populationAC=growth_AC["Migratory balance"].div(population_growthAC["Number"])*100
porcentajeAC=Immigration_over_populationAC.apply(func=format,args=(".0f",))
merged3["Immigration over population AC"]=porcentajeAC+"%"
merged3

,District name,Total population BC,Total population AC,Migratory balance BC,Migratory balance AC,Immigration over population BC,Immigration over population AC
0,Ciutat Vella,-3224,1272,2344,1369,-73%,108%
1,Eixample,-1222,2858,2946,2045,-241%,72%
2,Gràcia,-548,946,1111,380,-239%,119%
3,Horta-Guinardó,-1184,2192,706,819,-32%,8%
4,Les Corts,-110,503,379,179,-855%,73%
5,Nou Barris,-1100,1931,917,1208,-101%,20%
6,Sant Andreu,-352,1100,892,530,-201%,74%
7,Sant Martí,833,1854,1055,1783,110%,65%
8,Sants-Montjuïc,-1928,1153,1310,1126,-46%,46%
9,Sarrià-Sant Gervasi,1568,2445,940,367,67%,73%

In [28]:
merged4=merged3.set_index("District name").transpose()
merged4

District name,Ciutat Vella,Eixample,Gràcia,Horta-Guinardó,Les Corts,Nou Barris,Sant Andreu,Sant Martí,Sants-Montjuïc,Sarrià-Sant Gervasi
Total population BC,-3224,-1222,-548,-1184,-110,-1100,-352,833,-1928,1568
Total population AC,1272,2858,946,2192,503,1931,1100,1854,1153,2445
Migratory balance BC,2344,2946,1111,706,379,917,892,1055,1310,940
Migratory balance AC,1369,2045,380,819,179,1208,530,1783,1126,367
Immigration over population BC,-73%,-241%,-239%,-32%,-855%,-101%,-201%,110%,-46%,67%
Immigration over population AC,108%,72%,119%,8%,73%,20%,74%,65%,46%,73%

In [29]:
merged4.to_csv("../../datasets/migratory_balances.csv")

In [5]:
pwd

'C:\\Users\\Usuario\\Ironhack\\2week\\Project-Week-2-Barcelona\\your-project\\code'